[Desktop Entry]
Name=Google Chat Linux
Exec=/opt/google-chat-linux/google-chat-linux %U
Terminal=false
Type=Application
Icon=google-chat-linux
StartupWMClass=google-chat-linux
Comment=Google Hangouts Chat unofficial linux app
Categories=Network;InstantMessaging;
